body{
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 16px;

}


:root{
    --primary-color: #D9D3B4;
    --secondary-color: #F2CA52;
    --highlight-color: #a86b52;
    --neutral-color: #D9A86C;
    --text-color: #732C02;
    --blank: #f8f6f3;
    --primary-font: "Cormorant Garamond", serif;
    --secondary-font: "Raleway", sans-serif;

    
}
    p, a, li {
        font-family: var(--secondary-font);
        line-height: 1.6rem;
        font-size: 1.1rem;
    
}

p.italic {
    font-style: italic;
}

.emphasized {
    font-weight: 700;
}

.btn{
    font-family: var(--secondary-font);
    text-transform: lowercase;
    box-shadow: 1px 2px #808080;
}

.alert{
    font-family: var(--secondary-font);
}

.navbar-color{
    background-color: var(--primary-color);
}

.badge{
   position:  right;
}
